#title,#cta{
    color:#fff;
    background-color: #ff4c68;
}
.nav-item{
font-family:bold;
font-size: large;
}
.container-fluid{
             padding: 3% 15%;

}
#footer,.pricing-column,#press,#testimonials,.features-box,#cta,.pricing,p,.icon2,#features,h1,h3{
    text-align:center;
}
h1,h3,#testimonials{
    font-family:Montserrat;
}
h1{
    color:#fff;
    font-size: 3rem;
    font-weight: 1.5;
}
h1,h3{
    padding: 5% 10%;
}
#ddd2{
    padding: 5% 10%;
}
#testimonials{
    color:#fff;
}

.features-box{
    padding: 5% 5%;
}
p{
    color:#583434;
}
.icon{
    color:orange;
    margin: 1rem;
}
.icon:hover{
    color:green;
}
#testimonials,#press{
    background-color:#ef8172;
}
#testimonials{
    padding:2% 20% ;
    font-size: 1rem;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
}
#press{
    padding-bottom: 2%;
}
.press-logo{
      width: 15%;
      margin: 15px;
}
.photo-padding{
    padding-bottom:15% ;
}
#pricing{
    padding:100px;
}
.pricing-column{
    padding: 3% 2%;
}
#phone11{
    transform:rotate(30deg);
    position: relative;
    bottom: -150px;
}
#features{
    margin:10% 12%;
    background-color: white;
    position: relative;
    z-index:1;
}
@media (max-width:1028px){

    h1{
        text-align: center;
    }

#phone11{
    position:static;
    transform:rotate(0);

}
}
#cta{
    padding:7% 20%;
}
#footer{
    margin: 15% 30%;

}
.icon2{
    color:black;
    margin: 0px 15px;
}
p{
    padding:0% 20%;
}
.pricing{
    font-family: bold;
}

